<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please Login in</title>
    <link href="/default-ui.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <form class="login-form" method="post" action="/login">
        <h2>Please Login in</h2>

        <p>
          <label for="username" class="screenreader">Username</label>
          <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="">
        </p>
        <p>
          <label for="password" class="screenreader">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" required="">
        </p>

<input name="_csrf" type="hidden" value="zmKvpb91hnhh3nnxhwXaSMkTSukwCUZPsOl7lff5D6i87kPW_QDMkNsTsEBMvx_FsyjueKolZ4gIPnVi1Nse8M7Obs7f13Lv">
        <button type="submit" class="primary">Sign in</button>
      </form>



    </div>
  
</body></html>